@use '../../scss/utils/functions'as fn;

.carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fn.rem(400);
    position: relative;

    @media screen and (min-width: 768px) {
        height: fn.rem(600);
    }

    .btn {
        background-color: transparent;
        color: #fff;
        opacity: .5;
        font-size: fn.rem(28);
        left: 1.5rem;
        top: 40%;
        position: absolute;
        transition: all 500ms ease-in-out;
        z-index: 1;
        display: none;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        @media screen and (min-width: 1024px) {
            font-size: fn.rem(45);
            display: block;
        }
    }

    .btn2 {
        background-color: transparent;
        color: #fff;
        opacity: .5;
        font-size: fn.rem(28);
        right: 1.5rem;
        top: 40%;
        position: absolute;
        transition: all 500ms ease-in-out;
        z-index: 10;
        display: none;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        @media screen and (min-width: 1024px) {
            font-size: fn.rem(45);
            display: block;
        }
    }

    .carouselContainer {
        position: relative;
        background: #000;
        width: 100%;
        height: 100%;

        .hero {
            display: flex;
            flex: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-100);
            transition: 850ms linear;

            .backDrop {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            .overlay {
                position: absolute;
                inset: 0;
                width: 100%;

            }
        }

        .heroActive {
            opacity: 1;
            transform: translateY(0);
            pointer-events: visible;
        }

    }

}